#include "icons.h"

POWERPNT ICON POWERPNT_1300.ico
PPTXFILE ICON POWERPNT_1301.ico
PPTFILE  ICON PPTICO_1317.ico

WINWORD  ICON WINWORD_1.ico
DOCXFILE ICON WORDICON_215.ico
DOCFILE  ICON WORDICON_201.ico

EXCEL    ICON EXCEL_257.ico
XLSXFILE ICON XLICONS_258.ico
XLSFILE  ICON XLICONS_288.ico

MSEDGE   ICON msedge_IDR_MAINFRAME.ico
PDFILE   ICON msedge_IDR_X009_PDF_ICON.ico
